.v--modal {

    .modal-content {
        padding: 0 1%;
    }

    .modal-header {
        h5 {
            color: $LightFontColor;
        }
    }

    .modal-body {
        padding: 10px 0;
    }


}