$imgFolder:  "../images";

$primaryColor: #31b2c3;
$primaryColorDarker: #0483a0;

$secondaryColor: #2075f4;
$secondaryColorDarker: #1d51a3;

$tertiaryColor: #5cf457;
$tertiaryColorDarker: #3fa53b;

$darkColor: #232428;
$darkFontColor: #333;
$LightFontColor: #69767f;

$greyBorderColor: rgba(225, 230, 230, 0.9);

$lightBackgroundColor: #ffebcd;

$darkRed : #820000;